<nav class="navbar">
  <div class="logo">Smart Lost & Found</div>

  <div class="nav-links">
    <!-- Common Links -->
    <a routerLink="/dashboard">Home</a>

    <!-- USER Links -->
    <a *ngIf="isLoggedIn && isUser" [routerLink]="['/lost-items']">
      My Items
    </a>

    <a *ngIf="isLoggedIn && isUser" [routerLink]="['/claims', username]">
      My Claims
    </a>

    <!-- ADMIN Links -->
    <a *ngIf="isLoggedIn && isAdmin" routerLink="/admin/items">
      Manage Items
    </a>

    <a *ngIf="isLoggedIn && isAdmin" routerLink="/admin/users">
      Manage Users
    </a>

    <a *ngIf="isLoggedIn && isAdmin" routerLink="/admin/claims">
      Manage Claims
    </a>

    <!-- Auth Links -->
    <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
    <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>
    <a routerLink="/contact">Contact</a>

    <a *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </div>
</nav>