<div class="item-container">

  <h2>Report Item</h2>

  <button type="button" *ngIf="!this.showForm" (click)="toggleForm()" class="toggle-btn">
    Report New Item
  </button>

  <form class="item-form" (ngSubmit)="submitItem()" *ngIf="showForm">
    <!-- your form fields here -->
        <label>Item Type</label>
    <select name="itemType" [(ngModel)]="itemType" required>
      <option value="LOST">Lost Item</option>
      <option value="FOUND">Found Item</option>
    </select>

    <label>Item Name</label>
    <input
      type="text"
      name="itemName"
      [(ngModel)]="itemName"
      placeholder="Enter item name"
      required
    />

    <label>Description</label>
    <textarea
      name="description"
      [(ngModel)]="description"
      placeholder="Enter item description"
      required>
    </textarea>

    <label>Location</label>
    <select
  name="locationId"
  [(ngModel)]="locationId"
  required>

  <option value="">Select Location</option>

  <option
    *ngFor="let location of locations"
    [value]="location.locationId">

    {{ location.locationName }}

  </option>
</select>

    <label>Category</label>
    <input
      type="number"
      name="categoryId"
      [(ngModel)]="categoryId"
      placeholder="Select Category"
      required
    />
    <div class="button-group">
  <button
    type="button"
    class="cancel-btn"
    (click)="toggleForm()">
    Cancel
  </button>

  <button
    type="submit"
    class="submit-btn">
    Submit Item
  </button>
</div>
  </form>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <hr />

  <p *ngIf="isLoading">Loading Items...</p>
  <div *ngIf="!this.showForm">
  <h3 *ngIf="role === 'ADMIN'">All Reported Items</h3>
  <h3 *ngIf="role !== 'ADMIN'">My Reported Items</h3>
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Location</th>
        <th>Category</th>
        <th *ngIf="role === 'ADMIN'">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.itemType }}</td>
        <td>{{ item.locationName }}</td>
        <td>{{ item.categoryName }}</td>

        <td *ngIf="role === 'ADMIN'">
          <button class="delete-btn" (click)="deleteItem(item.itemId)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

</div>