<div class="item-container">

  <h2>Report Item</h2>

  <div class="filter-section" *ngIf="!this.showForm">
    <select class="location-filter"
      name="selectedLocationId"
      [(ngModel)]="selectedLocationId"
    >
    <option value="">All Locations</option>

    <option
      *ngFor="let location of locations"
      [value]="location.locationId"
      >

      {{ location.locationName }}

    </option>
  </select>

    <select
  name="selectItemType"
  class="item-type-filter"
  [(ngModel)]="selectItemType">

  <option value="">All Items</option>
  <option value="LOST">Lost Item</option>
  <option value="FOUND">Found Item</option>

</select>

    <input
    type="text"
    name="searchItemName"
    class="search-input"
    placeholder="Search by item name"
    [(ngModel)]="searchItemName"
  />

<div class="button-group">

  <button
    type="button"
    class="search-btn"
    (click)="searchItems()"
    >

    Search

  </button>

    <button
    type="button"
    class="reset-btn"
    (click)="resetFilters()"
    >

    Reset

  </button>

</div>
</div>


  <button type="button" *ngIf="!this.showForm" (click)="toggleForm()" class="toggle-btn">
    Report New Item
  </button>

  <form class="item-form" (ngSubmit)="submitItem()" *ngIf="showForm">
    <!-- your form fields here -->
        <label>Item Type</label>
    <select name="itemType" [(ngModel)]="itemType" required>
      <option value="LOST">Lost Item</option>
      <option value="FOUND">Found Item</option>
    </select>

    <label>Item Name</label>
    <input
      type="text"
      name="itemName"
      [(ngModel)]="itemName"
      placeholder="Enter item name"
      required
    />

    <label>Description</label>
    <textarea
      name="description"
      [(ngModel)]="description"
      placeholder="Enter item description"
      required>
    </textarea>

    <label>Location</label>
    <select
  name="locationId"
  [(ngModel)]="locationId"
  required>

  <option value="">Select Location</option>

  <option
    *ngFor="let location of locations"
    [value]="location.locationId">

    {{ location.locationName }}

  </option>
</select>

    <label>Category</label>
 <select
  name="categoryId"
  [(ngModel)]="categoryId"
  required>

  <option value="">Select Category</option>

  <option
    *ngFor="let category of categories"
    [value]="category.categoryId">

    {{ category.categoryName }}

  </option>
</select>

<label>Upload Image</label>

<input
  type="file"
  (change)="onFileSelected($event)"
  accept="image/*"
/>

    <div class="button-group">
  <button
    type="button"
    class="cancel-btn"
    (click)="toggleForm()">
    Cancel
  </button>

  <button
    type="submit"
    class="submit-btn">
    Submit Item
  </button>
</div>
  </form>

  <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <hr />


  <p *ngIf="isLoading">Loading Items...</p>
  <div *ngIf="!this.showForm">
  <h3 *ngIf="role === 'ADMIN'">All Reported Items</h3>
  <h3 *ngIf="role !== 'ADMIN'">My Reported Items</h3>
  <table>
    <thead>
      <tr>
        <th> User</th>
        <th>Item Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Location</th>
        <th>Category</th>
        <th>Status</th>
        <th>Item Image</th>
        <th *ngIf="role === 'ADMIN'">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of items">
        <td> {{item.userName}}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.itemType }}</td>
        <td>{{ item.locationName }}</td>
        <td>{{ item.categoryName }}</td>
        <td> {{item.status}}</td>
        <td>
          <a
  [href]="'http://localhost:8080/item/images/download/' + item.imageId + '/' + item.itemId"
  target="_blank">
          <img
         [src]="'http://localhost:8080/item/images/download/' + item.imageId + '/' + item.itemId"
           class="item-image"
             target="_blank"
         /> </a> </td>
<td *ngIf="role === 'ADMIN'" class="action-column">

  <div class="admin-actions">

    <select
      [(ngModel)]="item.status"
      class="status-dropdown">

      <option value="OPEN">OPEN</option>
      <option value="MATCHED">MATCHED</option>
      <option value="RETURNED">RETURNED</option>

    </select>

    <div class="button-row">

      <button
        class="update-btn"
        (click)="updateStatus(item.itemId, item.status)">

        Update

      </button>

      <button
        class="delete-btn"
        (click)="deleteItem(item.itemId)">

        Delete

      </button>

    </div>

  </div>

</td>
      </tr>
    </tbody>
  </table>
  </div>

</div>