<div class="claim-container">

  <h2 *ngIf="role === 'ADMIN'">All Claims</h2>
  <h2 *ngIf="role !== 'ADMIN'">My Claims</h2>

  <table>

    <thead>
      <tr>
        <th>Claim Id</th>
        <th>Item Id</th>
        <th>User Id</th>
        <th>Claim Message</th>
        <th>Status</th>

        <!-- Only Admin -->
        <th *ngIf="role === 'ADMIN'">Action</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let claim of claims">

        <td>{{ claim.claimId }}</td>

        <td>{{ claim.itemId }}</td>

        <td>{{ claim.userId }}</td>

        <td>{{ claim.claimMessage }}</td>

        <td>

          <span
            [ngClass]="{
              'pending-status': claim.status === 'PENDING',
              'approved-status': claim.status === 'APPROVED',
              'rejected-status': claim.status === 'REJECTED'
            }">

            {{ claim.status }}

          </span>

        </td>

        <!-- Admin Only -->
        <td *ngIf="role === 'ADMIN'">

          <button
            class="approve-btn"
            (click)="approveClaim(claim.claimId)"
            [disabled]="claim.status === 'APPROVED'">

            Approve

          </button>

          <button
            class="reject-btn"
            (click)="rejectClaim(claim.claimId)"
            [disabled]="claim.status === 'REJECTED'">

            Reject

          </button>

        </td>

      </tr>

    </tbody>

  </table>

</div>


<form (ngSubmit)="submitClaim()" class="claim-form">

  <label>Item</label>
  <input
    type="number"
    name="itemId"
    [(ngModel)]="itemId"
    required
  />

  <label>User</label>
  <input
    type="number"
    name="userId"
    [(ngModel)]="userId"
    required
  />

  <label>Claim Message</label>
  <textarea
    name="claimMessage"
    [(ngModel)]="claimMessage"
    placeholder="Explain why this item belongs to you"
    required>
  </textarea>

  <label>Status</label>
  <select name="status" [(ngModel)]="status">
    <option value="PENDING">Pending</option>
    <option value="APPROVED">Approved</option>
    <option value="REJECTED">Rejected</option>
  </select>

      <div class="button-group">
          <button class="cancel-btn" type="reset">Cancel</button>
  <button class="submit-btn" type="submit">Submit Claim</button>
     </div>
</form>