<div class="claim-container">

  <h2 *ngIf="role === 'ADMIN'">All Claims</h2>
  <h2 *ngIf="role !== 'ADMIN'">My Claims</h2>

<button
  *ngIf="role !== 'ADMIN' && !showForm"
  type="button"
  class="create-btn"
  (click)="toggleForm()">

  Create Claim

</button>

  <div *ngIf="!showForm">
  <table>

    <thead>
      <tr>
        <th>User </th>
        <th>Item</th>
        <th>Claim Message</th>
        <th>Status</th>
        <th> Image </th>

        <!-- Only Admin -->
        <th *ngIf="role === 'ADMIN'">Action</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let claim of claims">

        <td> {{claim.userName}}  </td>  
        <td>{{ claim.itemName }}</td>
        <td>{{ claim.claimMessage }}</td>

        <td>

          <span
            [ngClass]="{
              'pending-status': claim.status === 'PENDING',
              'approved-status': claim.status === 'APPROVED',
              'rejected-status': claim.status === 'REJECTED'
            }">

            {{ claim.status }}

          </span>

        </td>

         <td>
          <a
  [href]="'http://localhost:8080/item/claim/download/' + claim.imageId + '/' + claim.claimId"
  target="_blank">
          <img
         [src]="'http://localhost:8080/item/claim/download/' + claim.imageId + '/' + claim.claimId"
           class="item-image"
             target="_blank"
         /> </a> </td>



        <!-- Admin Only -->
        <td *ngIf="role === 'ADMIN'">

          <button
            class="approve-btn"
            (click)="approveClaim(claim.claimId)"
            [disabled]="claim.status === 'APPROVED' || claim.status== 'REJECTED'">

            Approve

          </button>

          <button
            class="reject-btn"
            (click)="rejectClaim(claim.claimId)"
            [disabled]="claim.status==='APPROVED' || claim.status === 'REJECTED'">

            Reject

          </button>

        </td>

      </tr>

    </tbody>

  </table>
</div>
</div>


<form (ngSubmit)="submitClaim()" class="claim-form" *ngIf="this.showForm">

  <label>Item</label>

     <select
  name="itemId"
  [(ngModel)]="itemId"
  required>

  <option value="">Select Item</option>

  <option
    *ngFor="let item of items"
    [value]="item.itemId">

    {{ item.title}}

  </option>
</select>

  <label>Claim Message</label>
  <textarea
    name="claimMessage"
    [(ngModel)]="claimMessage"
    placeholder="Explain why this item belongs to you"
    required>
  </textarea>

<label>Upload Image</label>

<input
  type="file"
  (change)="onFileSelected($event)"
  accept="image/*"
/>



      <div class="button-group">
          <button class="cancel-btn" type="reset" (click)="closeForm()">Cancel</button>
  <button class="submit-btn" type="submit">Submit Claim</button>
     </div>
</form>