
.reset-btn {
  padding: 10px 20px;
  background-color: #ef4444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(239, 68, 68, 0.2);
}

.reset-btn:hover {
  background-color: #dc2626;
  transform: translateY(-2px);
}

.reset-btn:active {
  transform: scale(0.97);
}


.button-group {
  display: flex;
  gap: 12px;
  align-items: center;
}

.search-btn {
  padding: 8px 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.search-btn:hover {
  background-color: #1d4ed8;
}


.filter-section {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.search-input,
.location-filter {
  width: 120px;
  height: 25px;
  font-size: 15px;
}

.search-input {
  width: 260px;
}

.item-container {
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  margin: 25px auto;
  max-width: 1200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.item-container h2 {
  margin-bottom: 20px;
  color: #1e293b;
  font-size: 28px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
}

thead {
  background-color: #2563eb;
  color: white;
}

thead tr:hover {
  background-color: #2563eb;
}

th {
  padding: 16px;
  text-align: left;
  font-size: 16px;
}

td {
  padding: 18px 16px;
  border-bottom: 1px solid #e2e8f0;
}

tbody tr:hover {
  background-color: #f8fafc;
  transition: 0.2s;
}

.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid #ddd;
  display: block;
  margin: auto;
}

.item-image:hover {
  transform: scale(1.05);
}

.open {
  color: #2563eb;
  font-weight: bold;
}

.claimed {
  color: #f59e0b;
  font-weight: bold;
}

.returned {
  color: #16a34a;
  font-weight: bold;
}

.closed {
  color: #dc2626;
  font-weight: bold;
}

.success {
  color: #16a34a;
  margin-bottom: 15px;
}

.error {
  color: #dc2626;
  margin-bottom: 15px;
}